In [1]:
import pandas as pd 

data_cox = pd.read_csv('data/data_cox_with_survival3yr.csv')
data_cox.head()

,CD74,HLA-DPB1,HLA-DRB1,HLA-DMA,HLA-DMB,HLA-DRA,HLA-DPA1,HLA-DOA,HLA-E,HLA-DQA1,...,LCP2,SERPING1,CD4,FCER1G,C1QB,C1QC,overall_survival,status,risk_score,survival_3yr
0,12.5668,8.6102,8.7590,8.5993,8.9834,10.7880,8.8908,6.8782,12.2597,6.8204,...,7.6154,8.2515,10.1129,9.4675,11.3329,11.2728,3574.0,False,-0.291393,1
1,15.4927,11.9222,12.3668,10.5364,10.8081,13.9021,12.5162,10.0694,13.9244,10.2799,...,9.0451,11.8442,10.8098,9.7941,12.5445,12.4334,234.0,True,1.282886,0
2,15.3739,11.4483,12.7477,10.5580,10.8706,13.7942,11.9650,10.3466,13.7275,10.4735,...,9.2850,9.8687,11.6573,10.0406,13.3568,13.2014,1335.0,True,-0.699702,1
3,13.2865,10.4928,9.8587,9.0924,9.5139,11.8657,10.5019,8.5010,11.6388,8.4154,...,7.9089,7.9684,10.2035,8.4250,11.8849,11.9314,1106.0,True,-0.937324,1
4,14.4549,11.6700,11.6364,10.3967,9.8603,13.2601,11.5003,9.0541,12.5336,9.8875,...,6.9549,10.4694,9.5651,8.9940,11.4629,11.5642,1828.0,False,0.119908,1